{% extends "browser/base.html" %}
{% load static %}
{% block content %}

<div class="container">
		<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Let's browse Coca-Cola products !</h2>
          <p class="lead">Use the GTIN-13 code printed just below the barcode. If the code is composed of only 12 digits, add a zero in front of the code to get a valide GTIN-13 code.</p>

					<form class="form-search" action="{% url 'browser:search' %}" method="post">
						{% csrf_token %}
		        <label for="inputEmail" class="sr-only">GTIN search</label>
		        <input name="gtin" type="text" class="form-control" placeholder="Search a GTIN-13 Code" required="" autofocus="">
		        <button class="btn btn-lg btn-primary" type="submit">></button>
		      </form>
					{% if error_message %}<p>{{ error_message }}</p>{% endif %}

        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/400x400/auto" alt="Open Product Data" src="{% static 'browser/img/logo-coca-cola.jpg' %}" data-holder-rendered="true">
        </div>
    </div>
</div>

<div class="container">
		<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
					<a href="{% url 'browser:brand_list' %}">
          	<img class="featurette-image img-responsive center-block" data-src="holder.js/400x400/auto" alt="Open Product Data" src="{% static 'browser/img/coca-brands.jpg' %}" data-holder-rendered="true">
					</a>

        </div>
        <div class="col-md-5 col-md-pull-7">
					<a href="{% url 'browser:brand_list' %}">
					<h2 class="featurette-heading">Browse by brands</h2>
				</a>
					<p class="lead">Classic, Light, Zero, Vanilla,...</p>
				</div>
    </div>
</div>

<div class="home-participate">
	<div class="container">
		<div class="row featurette">
      <div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Use the smartphone App <a href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android">barcode scanner</a> ! </h2>
					<p>
				Go in <i>settings</i> -> <i>Custom search URL</i> and enter the following value:	<br>
				<strong>https://coca-scan.herokuapp.com/gtin/%s</strong> </p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img class="featurette-image img-responsive center-block" data-src="holder.js/200x200/auto" alt="" src="{% static 'browser/img/barcode-coca.jpg' %}" data-holder-rendered="true">

			</div>
	</div>
</div>



{% endblock %}
